#topDate, #demo, #demo3{
      display: flex;
      font-size: 22px;
      font-weight: 700;
      font-family: Arial, Helvetica, sans-serif;

}
hr{
      border: 1px dotted black;
      width: 40%;
      margin: 0;
}
#signal{
      border: 8px solid red;
      border-radius: 50%;
      height: 1px;
      width: 1px;
      

}


